SCORM_XMLObjects/QTI/imsqti_result_v2p1.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/imsqti_result_v2p1"
    targetNamespace="http://www.imsglobal.org/xsd/imsqti_result_v2p1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="IMS QTI 2.1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         Colin Smythe
            Date:           12th May, 2012
            Version:        2.1
            Status:         Final Release
            Description:    This is the Platform Specific Model of the Assessment Result object in the IMS QTI v2.1 
                            Specification Information Model. It is this representation that is used to produce the 
                            AssessmentResult XSD binding for IMS QTI v2.1.

            History:        This version supercedes the full IMS QTI v1.2 and QTIv2.0 specifications.

            License:        IPR, License and Distribution Notices

                            This machine readable file is derived from IMS Global Learning Consortium (GLC) specification IMS Question and Test Interoperability (QTI) Version 2.1
                            found at http://www.imsglobal.org/question/ and the original IMS GLC schema binding or code base
                            http://www.imsglobal.org/question/.

                            Recipients of this document are requested to submit, with their comments, notification of any
                            relevant patent claims or other intellectual property rights of which they may be aware that might be
                            infringed by the schema binding contained in this document.

                            IMS GLC takes no position regarding the validity or scope of any intellectual property or other
                            rights that might be claimed to pertain to the implementation or use of the technology described in this
                            document or the extent to which any license under such rights might or might not be available; neither
                            does it represent that it has made any effort to identify any such rights. Information on IMS GLCs
                            procedures with respect to rights in IMS GLC specifications can be found at the IMS GLC Intellectual Property
                            Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2012. All Rights Reserved.

                            License Notice for Users

                            Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                            non-exclusive license to use this document. 

                            Distribution Notice for Developers

                            Developers of products or services that are not original incorporators of this document and 
                            have not changed this document, that is, are distributing a software product that incorporates this 
                            document as is from a third-party source other than IMS, are hereby granted permission to copy,
                            display and distribute the contents of this document in any medium for any purpose without fee or 
                            royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                            copies, or portions thereof.

                            Developers of products or services that are original incorporators of this document and wish 
                            to provide distribution of this document as is or with modifications and developers of products and 
                            services that are not original incorporators of this document and have changed this document, are
                            required to register with the IMS GLC community on the IMS GLC website as described in the following two
                            paragraphs:-

                            *  If you wish to distribute this document as is, with no modifications, you are hereby granted 
                               permission to copy, display and distribute the contents of this document in any medium for any 
                               purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                               its entirety on ALL copies, or portions thereof, that you make and you complete a valid license 
                               registration with IMS and receive an email from IMS granting the license. To register, follow the 
                               instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
                               registered you are granted permission to transfer unlimited distribution rights of this document for the 
                               purposes of third-party or other distribution of your product or service that incorporates this 
                               document as long as this IPR, License and Distribution notice remains in place in its entirety; 

                            *  If you wish to create and distribute a derived work from this document, you are hereby 
                               granted permission to copy, display and distribute the contents of the derived work in any medium for 
                               any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                               notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid 
                               profile registration with IMS GLC and receive an email from IMS GLC granting the license. To register, follow
                               the instructions on the IMS GLC website: http://www.imsglobal.org/profile/. Once registered you are 
                               granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                               third-party or other distribution of your product or service that incorporates the derived work as long 
                               as this IPR, License and Distribution notice remains in place in its entirety. 

                            The limited permissions granted above are perpetual and will not be revoked by IMS GLC or its 
                            successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ---------------------------
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)

            Source XSLT File Information
            ----------------------------
            XSL Generator:    UMLtoXSDTransformv1p0.xsl
            XSLT Processor:   Xalan
            Release:          1.0
            Date:             31st March, 2012
            Autogen Engineer: Colin Smythe (IMS GLC, UK)
            Autogen Date:     2012-04-16

            IMS GLC Auto-generation Binding Tool-kit (I-BAT)
            ------------------------------------------------
            This file was auto-generated using the IMS GLC Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS GLC makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS GLC "I-BAT" Documentation available at the IMS GLC web-site.

            Tool Copyright:  2005-2012 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <xs:simpleType name="IdentifierList.Type">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="View.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="author"/>
            <xs:enumeration value="candidate"/>
            <xs:enumeration value="proctor"/>
            <xs:enumeration value="scorer"/>
            <xs:enumeration value="testConstructor"/>
            <xs:enumeration value="tutor"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <xs:complexType name="EmptyPrimitiveType.Type">
        <xs:complexContent>
            <xs:restriction base="xs:anyType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <xs:simpleType name="Identifier.Type">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="DateTime.Type">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}.*"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the data-type ComplexTypes ************************************************************** -->

    <xs:complexType name="AssessmentResult.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                This is the container for the set of results that can be reported using the QTI data structures. A result instance can contain information about a single AssessmentTest and one or more AssessmentItems.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="context" type="Context.Type" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="testResult" type="TestResult.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="itemResult" type="ItemResult.Type" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CandidateResponse.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The CandidateResponse complexType is the container for the response(s) given by the candidate.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="Value.Type" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Context.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                This supples the conext informaion for the result information. Each result report has its own identifier. The session identifier during which the results were generated is also supplied.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sessionIdentifier" type="SessionIdentifier.Type" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
        <xs:attribute name="sourcedId" use="optional" type="Identifier.Type"/>
    </xs:complexType>

    <xs:complexType name="CorrectResponse.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The CorrectResponse complexType is the container for information about the correct response for an interaction. A response declaration may assign an optional 'correctResponse'. This value may indicate the only possible value of the response variable to be considered correct or merely just a correct value. For responses that are being measured against a more complex scale than correct/incorrect this value should be set to the (or an) optimal value. Finally, for responses for hwich no such optimal value is defined the 'correctResponse' must be omitted. If a delivery system supports the display of a solution then it should display the correct values of responses (where defined) to the candidate's own responses (which may be hidden completely if necessary).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="Value.Type" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
        <xs:attribute name="interpretation" use="optional" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ItemResult.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                This is the container for the results for an AssessmentItem. The result report consists of the information for the associated set of response varables, template variables and outcome variables. Any associated candidate comments are also stored. The report is date stamped.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs = "0" maxOccurs = "unbounded">
                <xs:element name="responseVariable" type="ResponseVariable.Type" minOccurs = "1" maxOccurs = "1"/>
                <xs:element name="templateVariable" type="TemplateVariable.Type" minOccurs = "1" maxOccurs = "1"/>
                <xs:element name="outcomeVariable" type="OutcomeVariable.Type" minOccurs = "1" maxOccurs = "1"/>
            </xs:choice>
            <xs:element name="candidateComment" type="xs:string" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="xs:normalizedString"/>
        <xs:attribute name="sequenceIndex" use="optional" type="xs:integer"/>
        <xs:attribute name="datestamp" use="required" type="DateTime.Type"/>
        <xs:attribute name="sessionStatus" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="final"/>
                    <xs:enumeration value="initial"/>
                    <xs:enumeration value="pendingResponseProcessing"/>
                    <xs:enumeration value="pendingSubmission"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OutcomeVariable.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The OutcomeVariable complexType is the container for the definition of an outcome variable. Outcome variables are declared by outcome declarations. Their value is set either from a default given in the declaration itself or by a responseRule during responseProcessing.Items that declare a numeric outcome variable representing the candidate's overall performance on the item should use the outcome name 'SCORE' for the variable.Items that declare a maximum score (in multiple response choice interactions, for example) can do so by declaring the 'MAXSCORE' variable.Items or tests that want to make the fact that the candidate scored above a predefined treshold available as a variable can use the 'PASSED' variable.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="Value.Type" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="Identifier.Type"/>
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple"/>
                    <xs:enumeration value="ordered"/>
                    <xs:enumeration value="record"/>
                    <xs:enumeration value="single"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean"/>
                    <xs:enumeration value="directedPair"/>
                    <xs:enumeration value="duration"/>
                    <xs:enumeration value="file"/>
                    <xs:enumeration value="float"/>
                    <xs:enumeration value="identifier"/>
                    <xs:enumeration value="integer"/>
                    <xs:enumeration value="pair"/>
                    <xs:enumeration value="point"/>
                    <xs:enumeration value="string"/>
                    <xs:enumeration value="uri"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="view" use="optional">
            <xs:simpleType>
                <xs:list itemType="View.Type"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="interpretation" use="optional" type="xs:string"/>
        <xs:attribute name="longInterpretation" use="optional" type="xs:anyURI"/>
        <xs:attribute name="normalMaximum" use="optional" type="xs:double"/>
        <xs:attribute name="normalMinimum" use="optional" type="xs:double"/>
        <xs:attribute name="masteryValue" use="optional" type="xs:double"/>
    </xs:complexType>

    <xs:complexType name="ResponseVariable.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The ResponseVariable complexType is the container for the definition of a response variable. Response variables are declared by response declarations and bound to interactions in the itemBody. Each response variable declared may be bound to one and only one interaction.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="correctResponse" type="CorrectResponse.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="candidateResponse" type="CandidateResponse.Type" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="Identifier.Type"/>
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple"/>
                    <xs:enumeration value="ordered"/>
                    <xs:enumeration value="record"/>
                    <xs:enumeration value="single"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean"/>
                    <xs:enumeration value="directedPair"/>
                    <xs:enumeration value="duration"/>
                    <xs:enumeration value="file"/>
                    <xs:enumeration value="float"/>
                    <xs:enumeration value="identifier"/>
                    <xs:enumeration value="integer"/>
                    <xs:enumeration value="pair"/>
                    <xs:enumeration value="point"/>
                    <xs:enumeration value="string"/>
                    <xs:enumeration value="uri"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="choiceSequence" use="optional">
            <xs:simpleType>
                <xs:list itemType="IdentifierList.Type"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TemplateVariable.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The TemplateVariable complexType contains the value(s) of a template variable.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="Value.Type" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="Identifier.Type"/>
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple"/>
                    <xs:enumeration value="ordered"/>
                    <xs:enumeration value="record"/>
                    <xs:enumeration value="single"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean"/>
                    <xs:enumeration value="directedPair"/>
                    <xs:enumeration value="duration"/>
                    <xs:enumeration value="file"/>
                    <xs:enumeration value="float"/>
                    <xs:enumeration value="identifier"/>
                    <xs:enumeration value="integer"/>
                    <xs:enumeration value="pair"/>
                    <xs:enumeration value="point"/>
                    <xs:enumeration value="string"/>
                    <xs:enumeration value="uri"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TestResult.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                This is the container for the results for a single AssessmentTest. The result report consists of the information for the associated set of response varables, template variables and outcome variables. The report is date stamped.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs = "0" maxOccurs = "unbounded">
                <xs:element name="responseVariable" type="ResponseVariable.Type" minOccurs = "1" maxOccurs = "1"/>
                <xs:element name="templateVariable" type="TemplateVariable.Type" minOccurs = "1" maxOccurs = "1"/>
                <xs:element name="outcomeVariable" type="OutcomeVariable.Type" minOccurs = "1" maxOccurs = "1"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="xs:normalizedString"/>
        <xs:attribute name="datestamp" use="required" type="DateTime.Type"/>
    </xs:complexType>

    <xs:complexType name="SessionIdentifier.Type">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The identifier for the session during which the associated results were generated.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EmptyPrimitiveType.Type">
                <xs:attribute name="sourceID" use="required" type="xs:anyURI"/>
                <xs:attribute name="identifier" use="required" type="xs:normalizedString"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Value.Type">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                Comment TBA.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="fieldIdentifier" use="optional" type="Identifier.Type"/>
                <xs:attribute name="baseType" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="boolean"/>
                            <xs:enumeration value="directedPair"/>
                            <xs:enumeration value="duration"/>
                            <xs:enumeration value="file"/>
                            <xs:enumeration value="float"/>
                            <xs:enumeration value="identifier"/>
                            <xs:enumeration value="integer"/>
                            <xs:enumeration value="pair"/>
                            <xs:enumeration value="point"/>
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="uri"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="assessmentResult" type="AssessmentResult.Type"/>

    <!-- ================================================================================================== -->

</xs:schema>
