SCORM_XMLObjects/QTI/imsqti_usagedata_v2p1.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/imsqti_usagedata_v2p1"
    targetNamespace="http://www.imsglobal.org/xsd/imsqti_usagedata_v2p1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="IMS QTI 2.1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         Colin Smythe
            Date:           12th May, 2012
            Version:        2.1
            Status:         Final Release
            Description:    This is the Platform Specific Model of the Usage Data in the IMS QTI v2.1 Specification 
                            Information Model. It is this representation that is used to produce the XSD binding for 
                            the IMS QTI v2.1 UsageData XSD.

            History:        This version supercedes the full IMS QTI v1.2 and QTIv2.0 specifications.

            License:        IPR, License and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Question and Test Interoperability (QTI) Version 2.1
                            found at http://www.imsglobal.org/question/ and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/qti.

                            Recipients of this document are requested to submit, with their comments, notification of any
                            relevant patent claims or other intellectual property rights of which they may be aware that might be
                            infringed by the schema binding contained in this document.

                            IMS GLC takes no position regarding the validity or scope of any intellectual property or other
                            rights that might be claimed to pertain to the implementation or use of the technology described in this
                            document or the extent to which any license under such rights might or might not be available; neither
                            does it represent that it has made any effort to identify any such rights. Information on IMS Global
                            procedures with respect to rights in IMS Global specifications can be found at the IMS Global Intellectual Property
                            Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2012. All Rights Reserved.

                            License Notice for Users

                            Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                            non-exclusive license to use this document. 

                            Distribution Notice for Developers

                            Developers of products or services that are not original incorporators of this document and 
                            have not changed this document, that is, are distributing a software product that incorporates this 
                            document as is from a third-party source other than IMS, are hereby granted permission to copy,
                            display and distribute the contents of this document in any medium for any purpose without fee or 
                            royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                            copies, or portions thereof.

                            Developers of products or services that are original incorporators of this document and wish 
                            to provide distribution of this document as is or with modifications and developers of products and 
                            services that are not original incorporators of this document and have changed this document, are
                            required to register with the IMS GLC community on the IMS GLC website as described in the following two
                            paragraphs:-

                            *  If you wish to distribute this document as is, with no modifications, you are hereby granted 
                               permission to copy, display and distribute the contents of this document in any medium for any 
                               purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                               its entirety on ALL copies, or portions thereof, that you make and you complete a valid license 
                               registration with IMS and receive an email from IMS granting the license. To register, follow the 
                               instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
                               registered you are granted permission to transfer unlimited distribution rights of this document for the 
                               purposes of third-party or other distribution of your product or service that incorporates this 
                               document as long as this IPR, License and Distribution notice remains in place in its entirety; 

                            *  If you wish to create and distribute a derived work from this document, you are hereby 
                               granted permission to copy, display and distribute the contents of the derived work in any medium for 
                               any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                               notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid 
                               profile registration with IMS GLC and receive an email from IMS GLC granting the license. To register, follow
                               the instructions on the IMS GLC website: http://www.imsglobal.org/profile/. Once registered you are 
                               granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                               third-party or other distribution of your product or service that incorporates the derived work as long 
                               as this IPR, License and Distribution notice remains in place in its entirety. 

                            The limited permissions granted above are perpetual and will not be revoked by IMS GLC or its 
                            successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ---------------------------
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)

            Source XSLT File Information
            ----------------------------
            XSL Generator:    UMLtoXSDTransformv1p0.xsl
            XSLT Processor:   Xalan
            Release:          1.0
            Date:             31st March, 2012
            Autogen Engineer: Colin Smythe (IMS GLC, UK)
            Autogen Date:     2012-05-31

            IMS GLC Auto-generation Binding Tool-kit (I-BAT)
            ------------------------------------------------
            This file was auto-generated using the IMS GLC Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS GLC makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS GLC "I-BAT" Documentation available at the IMS GLC web-site.

            Tool Copyright:  2005-2012 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <xs:complexType name="EmptyPrimitiveType.Type">
        <xs:complexContent>
            <xs:restriction base="xs:anyType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <xs:simpleType name="Identifier.Type">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="Date.Type">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the data-type ComplexTypes ************************************************************** -->

    <xs:complexType name="CategorizedStatistic.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The CategorizedStatsitic complexType is the container for information about an item statistic that consists of multiple values e.g. IRT Dispersion Parameters.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="targetObject" type="TargetObject.Type" minOccurs = "1" maxOccurs = "unbounded"/>
            <xs:element name="mapping" type="Mapping.Type" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="Identifier.Type"/>
        <xs:attribute name="glossary" use="optional" type="xs:anyURI"/>
        <xs:attribute name="context" use="required" type="xs:anyURI"/>
        <xs:attribute name="caseCount" use="optional" type="xs:integer"/>
        <xs:attribute name="stdError" use="optional" type="xs:double"/>
        <xs:attribute name="stdDeviation" use="optional" type="xs:double"/>
        <xs:attribute name="lastUpdated" use="optional" type="Date.Type"/>
    </xs:complexType>

    <xs:complexType name="Mapping.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Mapping complexType is a special class used to create a mapping from a source set of any baseType (except file and duration) to a single float. Note that mappings from values of base type float should be avoided due to the difficulty of matching floating point values, see the match operator for more details. When mapping containers the result is the sum of the mapped values from the target set. See mapResponse for details.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="mapEntry" type="MapEntry.Type" minOccurs = "1" maxOccurs = "unbounded"/>
        </xs:sequence>
        <xs:attribute name="lowerBound" use="optional" type="xs:double"/>
        <xs:attribute name="upperBound" use="optional" type="xs:double"/>
        <xs:attribute name="defaultValue" use="optional" default="0" type="xs:double"/>
    </xs:complexType>

    <xs:complexType name="OrdinaryStatistic.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The OrdinaryStatistic complexType is the container of an item statistic that consists of a single numeric value.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="targetObject" type="TargetObject.Type" minOccurs = "1" maxOccurs = "unbounded"/>
            <xs:element name="value" type="Value.Type" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="Identifier.Type"/>
        <xs:attribute name="glossary" use="optional" type="xs:anyURI"/>
        <xs:attribute name="context" use="required" type="xs:anyURI"/>
        <xs:attribute name="caseCount" use="optional" type="xs:integer"/>
        <xs:attribute name="stdError" use="optional" type="xs:double"/>
        <xs:attribute name="stdDeviation" use="optional" type="xs:double"/>
        <xs:attribute name="lastUpdated" use="optional" type="Date.Type"/>
    </xs:complexType>

    <xs:complexType name="UsageData.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                Usage data, most commonly item statistics, do not form part of an assessmentItem directly because they always relate to some context or domain in which the statistics are valid. Therefore, this specification defines a separate class for describing these statistics.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs = "0" maxOccurs = "unbounded">
                <xs:element name="ordinaryStatistic" type="OrdinaryStatistic.Type" minOccurs = "1" maxOccurs = "1"/>
                <xs:element name="categorizedStatistic" type="CategorizedStatistic.Type" minOccurs = "1" maxOccurs = "1"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="glossary" use="optional" type="xs:anyURI"/>
    </xs:complexType>

    <xs:complexType name="MapEntry.Type">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The map is defined by a set of mapEntries, each of which maps a single value from the source set onto a single float.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EmptyPrimitiveType.Type">
                <xs:attribute name="mapKey" use="required" type="xs:normalizedString"/>
                <xs:attribute name="mappedValue" use="required" type="xs:double"/>
                <xs:attribute name="caseSensitive" use="optional" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TargetObject.Type">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The targetObject is used to refer to an assessment object. This object may be an assessmentItem or some other type of object defined outside the scope of this specification, for example, an entire test. In some cases it is desirable to refer not just to the assessment object but to a specific part of that object, in which case the optional partIdentifier can be used.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EmptyPrimitiveType.Type">
                <xs:attribute name="identifier" use="required" type="xs:string"/>
                <xs:attribute name="partIdentifier" use="optional" type="Identifier.Type"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Value.Type">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                A simple type used to represent a single value of any baseType as defined by the assessment variable data model.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="fieldIdentifier" use="optional" type="Identifier.Type"/>
                <xs:attribute name="baseType" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="boolean"/>
                            <xs:enumeration value="directedPair"/>
                            <xs:enumeration value="duration"/>
                            <xs:enumeration value="file"/>
                            <xs:enumeration value="float"/>
                            <xs:enumeration value="identifier"/>
                            <xs:enumeration value="integer"/>
                            <xs:enumeration value="pair"/>
                            <xs:enumeration value="point"/>
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="uri"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="usageData" type="UsageData.Type"/>

    <!-- ================================================================================================== -->

</xs:schema>
